---
---

// Resets and Universal Classes ================================================
html, body {margin:0px; padding:0px; width:100%; min-height:100%; overflow-x: hidden !important;}
h1, h2, h3, h4, h5, h6 {margin:0px;}
img {max-width:100%; border:0px;}
a {text-decoration:none; color:inherit;}
#preload {display:none;}
div, input, textarea {box-sizing:border-box;}
input, textarea {border:0px; font-family:inherit; -webkit-appearance: none;}
input:focus, textarea:focus {outline:none;}
.clear {clear:both;}


// breakpoint: reponsive adaptation mixin
@mixin breakpoint($point) {
	// tablet
    @if $point == m{
        @media screen and (max-width: 920px)  {@content;}
    }
	// mobile
    @if $point == s {
        @media screen and (max-width: 760px)  {@content;}
    }
	// small mobile
    @else if $point == xs {
        @media screen and (max-width:375px) {@content;}
    }
}

// Styles

body {font-family:'Helvetica', 'Arial', sans-serif; font-size:15px;}
h1 {font-size:28px;}
h2 {font-size:20px;}
.site-title {margin-bottom:-10px;}

.container {
    position:relative; padding:50px; 
    line-height:1.5;
    a {border-bottom:1px solid #ccc;}
    @include breakpoint(m) {
        padding:30px;
    }
}
h1, h2 {
    margin:20px 0px 10px;
    @include breakpoint(s) {margin-top:15px 0px 10px;}
}

.home {
    width:70vw;
    @include breakpoint(m) {
        width:100%;
    }
    ul {list-style-type:none; margin:0px; padding:0px;}
    li {margin-top:6px;}
    li p {margin:0px 0px 10px;}
    li p:last-of-type {margin-bottom:0px;}
    li img {display:none;}
    li:hover img {
        display:block; position:fixed; right:50px; top:50px; width:calc(30vw - 50px);
        @include breakpoint(m) {display:none;}
    }
    iframe {border:0px; width:100%; height:360px;}
    #calendarList h2 {font-size:18px;}

    #condenseCount {display:none;}
    #expandButton {display:inline-block; margin-top:12px; line-height:1; border-bottom: 1px solid #ccc; cursor:pointer;}
}

#mobileAccents {display:none;}
#mobileAccent {display:none; @include breakpoint(s) {display:block;}
    position:absolute; top:30px; right:30px; width:60px; height:60px; background-size:cover;
}

.section {
    margin-top:40px;
    @include breakpoint(m) {margin-top:20px;}
    &.highlight {
        background:#5fc8ee; padding:1px 20px 10px; margin-left:-20px;
        @include breakpoint(m) {
            padding:1px 30px 10px; margin-left:-30px; margin-right:-30px;
        }
    }
}

#calendarList {
    li {
        .title {border-bottom:1px solid #ccc; font-style:italic; font-weight: bold; cursor:pointer;}
        &.past {
            .title {font-weight:normal}
            &.hasDetails .title {font-weight:bold;}
        }
        .details {height:0px; overflow:hidden;}
        &.expanded {
            margin:10px -12px 10px -12px; border:1px solid #ddd;
            .main, .details {padding:15px 12px;}
            .details {background:#ddd; height:auto;}
        }
    }
}

.gallery {
    margin:20px -10px -10px;
}
