{% include header.html %}

    <div id="mobileAccents">
        {% for url in page.mobileAccents %}
        <img src="{{ url }}" />
        {% endfor %}
    </div>

    <div class="container home">
        <div id="mobileAccent"></div>
        <h1>{{ site.title }}</h1>
        {{ page.content | markdownify }}

        {% for section in page.sections %}
            <h2>{{ section.title }}</h2>
            {% if section.description %}{{ section.description | markdownify }}{% endif %}

            {% if section.items %}
            <ul class="{% if section.priority_button %}prioritize{% endif %}">
                {% for item in section.items %}
                    <li class="{% if item.is_priority %}priority{% endif %}">
                        {{ item.description | markdownify }}
                        {% if item.image %}<img src="{{ item.image }}" />{% endif %}
                    </li>
                {% endfor %}
                {% if section.priority_button %}
                    <span id="expandButton">{{ section.priority_button }}</span>
                {% endif %}
            </ul>
            {% endif %}

            {% if section.calendarList %}
            <div id="calendarList" class="preview">
                <ul><li><i>Loading...</i></li></ul>
            </div>
            {% endif %}
        {% endfor %}

    </div>
    
{% include footer.html %}